/* DESIGN/FORMATTING*/


* {
color: #FC9483;
font-family: sans-serif;
}

h1 {
     text-align: center;
     font-size: 40px
}

h2, h3, h4, h5, h6 {
     text-align: center;
}

p {
     text-align: center;
}

header {
     text-align: center;
}

ul {
     text-align: center;
}

li {
     text-align: center;
}

div {
     text-align: center;
}

header {
    padding: 12px 70px 10px;
    background-color: #FC4C4E;
    position: relative;
    top: 80;
    left: 150;
    right: 150;
    height: 35px;
    text-align: center;
    font-size: 1.7em;
    text-shadow: 3px 3px 5px;
    font-style: italic;
    letter-spacing: 3px
}

p {padding: 0px 150px 0px}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

a:hover {
  color: green;
}

a[title] {
    color: green;
}

div tbody td{
  color:green
}




/* TIC TAC TOE*/




#scoreboard1{
  background-color:#f9e6ff;
}

#scoreboard2{
  background-color:#ecffe6;
}

/*
 * The container is a flex-box, which is a powerful layout tool. It grows
 * dyanamically, and allows us to position our elements with precision.
 */

.container {
  display: flex;                /* set our display property to use flex-box */
  justify-content: center;      /* center container horizontally */
  align-items: center;          /* center content vertically */
}

/*
 * We want to display the subheader, board, and reset button in a single
 * vertical column.
 */

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;       /* align children in columns instead of rows */
}

/*
 * This ensures that we get three rows of three squares, rather than a single
 * row of nine squares.
 */

.wrap {
  flex-wrap: wrap;              /* tells container to drop down once it reaches max-width */
  height: 456px;
  width: 456px;
}

/*
 * The square itself. We give it a specific size and border.
 */

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

/*
 * And we give it a little flare when the user mouses over a square.
 */

.square:hover {
  background-color: lightgray;
  cursor: pointer;
}

/*
 * The reset button sits just below the board.
 */

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
  margin: auto;
}

/*
 * And a little flare when the user mouses over the button. The color scheme
 * switches (background and foreground).
 */

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  margin: auto;
}

#board{
  max-width: 100%;
}




/* BRICK BREAKER*/




#myCanvas {
  background: rgb(255,91,107);
  background: linear-gradient(130deg, rgba(255,91,107,1) 0%, rgba(255,182,197,1) 100%);
}




/* CONNECT FOUR*/




#c4board {
  top: 200px;
  text-align: center;
  align-items: center;
  margin: auto;
}

svg{
  align-items: center;
  display: block;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
